@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 23px;
    background-color: #a2a5a2;
    color: white;
    margin-bottom: 5rem;
}

#clear {
    border-radius: 2px;
    padding: 15px;
    border: 2px solid #ff2a1a;
    background-color: #F44336;
    width: 100%;
}

.formstyle {
    width: 350px;
    margin: auto;
    border: 3px solid #6f777b;
    border-radius: 5px;
    padding: 20px;
    background: #9d9d9d;
    box-shadow: 4px 0px 12px #00000050;
}



input {
    background-color: #534848;
    color: white;
    border: 3px solid #cbc2c2;
    border-radius: 5px;
    padding: 18px;
    flex: 1;
    margin: 5px;
    font-size: 20px;
}


#calc {
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    flex-basis: 100%;
    margin-bottom: 16px;
    text-align: end;
}


.form1{
    display: flex;
    flex-wrap: wrap;
}

.equal{
    
    background: #4CAF50;
    border-color: #3b8b3f;
}